


<div class="container">
    <h1 style="text-align: center; font-size: 500%; color: brown;">
        <b><i>About Us</i></b></h1>
    <div class="row col-md-6">
        <img src="../images/image.png" class="img-circle">
           

    </div>
    <div class="col-md-5 pull-right">
        <span><h4>
                <p> Indian Brand Based in mumbai adopted global standard practice kaizen lain.</p>
                
                <p> Brand use higher standerd equipment and practice speafic SOP's

                    Fruits is the only natures gift we can eat naturally.</p>

            <p>Fruits have multi benefits, like vitamins, fiber, minerals antioxyde and may world 
                is moving at fast speed then to ensures we cope up with this speed we provide nutrient
                and healthy product to the world.</p>

            <p> Fruits is a solider to prevent from illness naturaly. </p>
            
            <p> It acts as fast agent to improvise function of our internal and external body.</p>

            <p> HAS incepted concept health on the go. In mobile world brand wants to established customers 
                service who looks for quality, fresh and nutrician beverages best hygine practice.</p>
            
            <p>  We make sure our product produce under guidence of food technician and dietician.</p>
            
            <p> We make sure our best practice and high qaulity raw material to be seen by our customer.</p>

            <p> World is moving at fastest speed ever HAS is a thought to run along with the world and provide 
            fresh squeeze and fibrous juices and fruits salad using best technology to retain at most 
            natural benefits and hygiene. </p> 





<h4>
        </span>
    </div>








</div>